.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    padding-top: 16px;
  }

  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }

  body {
    background-image:url("https://media.discordapp.net/attachments/841754766114684989/938479482296229918/stefan-vladimirov-Q_Moi2xjieU-unsplash.jpg");
    background-size: cover;
}
td {
    background-color:darkolivegreen;
    padding-left:10px;
    padding-right:10px;
    border-radius: 5px;
    font-size: 20px;
}
.foods {
    position:absolute;
    left:260px;
    backdrop-filter: blur(5px);

}
th {
    color: darkslategrey;
    font-size: 30px;
}