            body {
                background-image: url('https://cutewallpaper.org/21/medieval-tavern-wallpaper/Medieval-Interior-Tools-Pack-by-cagricengiz-in-Props-UE4-.jpg');
            }
            .container {
                display: flex;
                justify-content: center;
                padding-top: 20px;
            }
            h1{
                color:#7B3F00;
                font-size:70px;
                position:absolute;
                left:500px;
                top:140px;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: black; 
            }
            #t1{
                color:#7B3F00;
                font-size:70px;
                position:absolute;
                left:540px;
                top:200px;
                
            }
            #t2{
                color:#7B3F00;
                font-size:70px;
                position:absolute;
                left:600px;
                top:260px;
                
                
            }
            p{
                                        
                position:absolute;
                font-size:30px;
                
                
            }
            .description {
                position:absolute;
                top:800px;
                left:100px;
                font-size:35px;
                background-color:#7B3F00;
            }
                   
            .sidebar {
              height: 100%;
              width: 100px;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: rgb(66, 38, 1);
              overflow-x: hidden;
              padding-top: 16px;
            }

            
            .sidebar a {
              padding: 6px 8px 6px 16px;
              text-decoration: none;
              font-size: 20px;
              color: #818181;
              display: block;
            }

          
            .sidebar a:hover {
              color: #f1f1f1;
            }

            
            .main {
              margin-left: 60px; 
              padding: 0px 10px;
            }

         
            @media screen and (max-height: 450px) {
              .sidebar {padding-top: 15px;}
              .sidebar a {font-size: 18px;}
            }